@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* 
#22A699
#F2BE22
#F29727
#F24C3D
*/
body {
  font-family: "Poppins", sans-serif;
  /* background-color: #22a699; */
  background-color: #d3e1e0;
  height: 100vh;
}

.app {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 40px 20px;
  width: 100%;
  row-gap: 40px;

  @media (max-width: 991.98px) {
    grid-template-columns: 1fr;
  }
}

.sidebar {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
}

/* button style */
.btn {
  padding: 10px 15px;
  border-radius: 5px;
  font-weight: 700;
  outline: 0;
  border: none;
  cursor: pointer;
  background-color: #f29727;
  transition: background-color 0.4s ease-in-out;
}
.btn:hover {
  background-color: #f2be22;
}
